<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
 
}


body{
  background: var(--Body-Color);
  font-family: 'Poppins', sans-serif;
  
}

footer{
  align-self: flex-end;
}

:root{
  --First-Color: #44423F;
  --Second-Color: #2F2E2E;
  --Third-Color: #DC9120;
  --Body-Color: #44423F;
  --Body-Font: "Poppins", sans-serif;
}
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> main
